# rename this file to .env and supply the values listed below
# also make sure they are available to the build tool (e.g. Netlify)
# warning: variables prefixed with GATSBY_ will be made available to client-side code
# be careful not to expose sensitive data (in this case your Algolia admin key)
GATSBY_ALGOLIA_APP_ID=insert_your_value_here
GATSBY_ALGOLIA_SEARCH_KEY=insert_your_value_here
ALGOLIA_ADMIN_KEY=insert_your_value_here
ALGOLIA_SKIP_INDEXING=true
BSP_API_URL_NEW=https://bahai-songs.vercel.app/api/graphql
SOCIAL_IMAGES_SKIP_GENERATION=true