# rename this file to .env and supply the values listed below
# also make sure they are available to the build tool (e.g. Netlify)
# warning: variables prefixed with PUBLIC_ may be made available to client-side code
CONVEX_SITE_URL=https://pastel-canary-414.eu-west-1.convex.site
