@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Jost:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap");

:root {
  --reach-tabs: 1;
}

.contributor-name:not(:last-of-type):after {
  content: ", ";
  white-space: pre;
}

[data-reach-tabs][data-orientation="vertical"] {
  display: flex;
}

[data-reach-tab-list] {
  display: flex;
}

[data-reach-tab-list][aria-orientation="vertical"] {
  flex-direction: column;
}

[data-reach-tab] {
  @apply inline-block tracking-wide text-xs text-gray-600 px-1 mr-1 mt-2 rounded-sm border border-transparent bg-none cursor-pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

[data-reach-tab]:focus {
  @apply outline-none;
}

[data-reach-tab]:active {
  background: hsla(0, 0%, 0%, 0.05);
}

[data-reach-tab]:disabled {
  opacity: 0.25;
  cursor: default;
}

[data-reach-tab][data-selected] {
  @apply border-current;
}

/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */

/* custom styles start */

/* custom styles end */

@tailwind utilities;
