@imort url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

.contributor-name:not(:last-of-type):after {
  content: ", ";
  white-space: pre;
}

.md-page {
  font-size: 1.25rem;
}

.md-page h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
}

.md-page ul {
  list-style-type: disc;
}

.md-page li {
  margin-left: 1.5rem;
}

/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */

/* custom styles start */

/* custom styles end */

@tailwind utilities;
