@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap");

/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */

/* custom styles start */
.ais-Hits-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ais-SearchBox-form input {
    outline: 0;
    width: 20rem;
    border-bottom: 0.05rem solid darkslategray;
}

/* custom styles end */

@tailwind utilities;
